/*class tags*/

.page-wrapper {
    background-color: lightslategray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.globe-icon {
    height: 35px;
    width: auto;
}

/*id tags*/

#header-container {
    color: white;
    background-color: lightslategray;
    border-bottom: 2px solid black;
}

#aside-container {
    height: 100%;
    width: 30%;
}

#action {
    color: red;
    font-family: 'Anton', sans-serif;
    /*font-family: 'Righteous', cursive;*/
    text-shadow: 2px 2px black;
    font-weight: bolder;
}

#header-text {
    text-shadow: 2px 2px black;
}


/*fonts*/

/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Righteous', cursive;*/