/*Class tags*/
.page-wrapper {
    background-image: url("../img/pngtree-blue-cartoon-sky-background-cloud-image_418494.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.map-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background-color: dodgerblue;
    min-height: 68vh;
}
.map-container > .row {
    flex: 1 0 auto;
    overflow: hidden;
}

.item-border {
    border: 3px solid #a9a6a6;
    border-radius: 10px;
}

.map-border {
    border: 5px solid dodgerblue;
    border-radius: 10px;
    overflow: hidden;
}

.nav-border {
    border-bottom: 3px solid #a9a6a6;
}

.kavoon-font {
    font-family: 'Kavoon', cursive;
}

.dodgerBlueColor {
    color: dodgerblue;
    text-shadow: 1px 1px #e3e0e0;
}

/*ID tags*/
#nav-bar {
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
}

#weather-icon {
    display: flex;
    align-self: center;
    height: 5em;
    width: 5em;
}

#welcome-message {
    color: #ececec;
    text-shadow: 2px 1px dodgerblue;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    padding-right: 198px;
}

#search-btn {
    color: white;
    background-color: dodgerblue;
}

#nav-text {
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-family: 'Kavoon', cursive;
    padding-left: 150px;
}

/*fonts

font-family: 'Anton', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Kavoon', cursive;
font-family: 'Righteous', cursive;

*/