/*class tags*/

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/pngtree-blue-cartoon-sky-background-cloud-image_418494.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}

.row {
    display: flex;
    width: 100%;
    max-width: 1100px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.nav-icon {
    color: white;
    height: 50px;
    width: auto;
}

.nav-icon-red {
    color: red;
    height: 50px;
    width: auto;
}

.day-card {
    height: 30vh;
    width: 20%;
    margin-top: 25px;
    border: 5px solid red;
    border-radius: 15px;
}

.forecast-container {
    border: 5px solid red;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}

/*ID tags*/

#map {
    border-left: 5px solid red;
}

#nav-bar {
    display: flex;
    padding-left: 25px;
}

#nav-text {
    font-size: 40px;
    color: rgb(225, 55, 20);
    font-family: 'Righteous', cursive;
    text-shadow: 1px 2px white;
    font-weight: bolder;
}

#search-map-container {
    height: 65vh;
    display: flex;
    justify-content: center;
    border: 5px solid red;
    border-radius: 15px;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
}

#search-row {
    flex: 1 0 auto;
}

#search-map-container .col {
    justify-self: stretch;
}

#map-row {
    width: 100%;
}

#search-row {
    width: 100%;
}

#search-btn{
    margin-top: 20px;
    display: flex;
    color: white;
    font-weight: bold;
    background-color: red;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}



/*fonts*/

/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Caveat', cursive;*/
/*font-family: 'Kavoon', cursive;*/
/*font-family: 'Righteous', cursive;*/